<main style="padding-left: 20px;">
  <h1>Bienvenidos al chat de tu tienda virtual</h1>

  <div>
    <label>Usuario:</label>
    <label id="userNameTitle"></label>
    <br />
    <br />
    <label>Escribe tu mensaje:</label>
    <input type="text" id="messageInput" />
    <p id="messagesLog"></p>
  </div>

</main>

<!-- Se deben poner en este orden, primero el script de socket.io y luego nuestro script-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>