<div style="padding-left: 20px;">
  <h1>Ingresa tu email para cambiar tu contraseña</h1>
  <form action="" id="sendEmailResPassForm">
    <label for="email">Email:</label>
    <input type="text" name="email" />
    <p>Recuerda que una vez llegue el correo tienes un tiempo limitado para
      cambiar la contraseña.</p>
    <br />
    <button type="submit">Enviar email</button>
  </form>
  <br />
  <p><a href="/login">volver al login</a></p>

</div>

<script src="/js/sendEmailResPass.js"></script>