<main class="mainPanel">
  <br />
  <div class="navbar">
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <p>cart id: {{user.cart}}</p>
  </div>
  <br />
  <div class="navbarSP">
    <h1>¡Compra realizada exitosamente!</h1>
    <h3>A tu correo se ha enviado un mensaje confirmando tu compra</h3>
  </div>
  <br />
  <a href="/products"><button class="btnGrande">Seguir comprando</button></a>
</main>