table,
td,
th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}

#userNameTitle {
  font-size: larger;
  font-weight: 700;
}

.navbar {
  color: white;
  background-color: gray;
  width: 400px;
  padding: 5px 5px 5px 15px;
}
